/* --------------------------------------------- Reset --------------------------------------------- */

html, body	{ margin: 0px; padding: 0px; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6, a, p { padding: 0px; margin: 0px; text-decoration: none; }

.wrapper-large	{
	width: 1200px;
	margin: 0px auto;
	}

.wrapper-small	{
	width: 1100px;
	margin: 0px auto;
	}

.clear-tiny	{
	width: 100%;
	height: 40px;
	}
	
.clear-small	{
	width: 100%;
	height: 70px;
	}

.clear-big	{
	width: 100%;
	height: 100px;
	}

/* ---------------------------------------------- Promo -------------------------------------------- */


#promo	{
	width: 100%;
	height: 1080px;
    background-color: #122748;
	background-repeat: no-repeat;
    background-image: url(../images/banner-dark.png);
    background-size: cover;
    overflow: hidden;
	
}
   

#promo h1	{
	width: 950px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-align: left;
	font-weight: 700;
	font-size: 70px;
	line-height: 90px;
	text-transform: uppercase;
    float: left;
    padding-top: 250px;
	}





#promo .wrapper-large .wrapper-small a	{
	width: 220px;
	margin: 0px;
    float: left
	}

#promo .wrapper-large .wrapper-small a h5	{
	font-family: 'Roboto Condensed', sans-serif;	
	color: #fff;
	font-weight: 300;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
    background-color: #ff4157;
    padding: 5px;
	}

#promo .wrapper-large .wrapper-small a h5 span	{
	font-family: 'Roboto Condensed', sans-serif;	
	color: #fff;
	font-weight: 300;
	font-size: 40px;
	line-height: 30px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	}

#promo .wrapper-large .wrapper-small a:hover span	{
	margin-left: 10px;
	}



/* ---------------------------------------------- Info -------------------------------------------- */

#info	{
	width: 100%;
	height: 660px;
	background-repeat: no-repeat;
	background-position: center;
    overflow: hidden;
    background-color: #122748;
}

#info .wrapper-large .wrapper-small	{
	padding-right: 100px;
    padding-left: 100px;
    text-align: center
    
}

#info .info-pic{
    float: left;
    width: 275px;
    height: 350px;
    background-image: url(../images/info-pic.jpg);
    background-size: cover;
    margin-top: 80px;
    
    
}


#info .info-text{
    float: left;
    width: 500px;
    height: 350px;
    text-align: left;
    margin-top: 80px;
    margin-left: 150px;
    font-weight: 200;
    
    
}




#info h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: left;
	font-weight: 700;
	font-size: 35px;
	line-height: 60px;
	text-transform: uppercase;
	background: #ff4157;
    padding-left: 10px;
    margin-right: 120px;
}

#info p {
	font-size: 25px;
    font-family: 'Roboto', serif;
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
}

/* ---------------------------------------------- Features -------------------------------------------- */

#features	{
	width: 100%;
	height: 500px;
    background: #16335E;
	background-repeat: no-repeat;
	background-position: center;
    overflow: hidden;
    
}

#features .wrapper-large {
	margin: 7px;
    width: 100%;

    
}

#features .feature-1{
    float: left;
    width:33%;
    height: 495px;
    text-align: center;
}

#features .feature-2{
    float: left;
    width:33%;
    height: 495px;
    text-align: center;
}
#features .feature-3{
    float: left;
    width:33%;
    height: 495px;
    text-align: center;
}

.feature-pic-1{
    background-image: url(../images/int-iconl.png);
    height: 215px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 180px;
}

.feature-pic-2{
    background-image: url(../images/aut-iconl.png);
    height: 215px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 180px;
}

.feature-pic-3{
    background-image: url(../images/eco-iconl.png);
    height: 215px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 180px;
}

.feature-text{
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    
}





#features h1 {
	width: 500px;
	font-family: 'Oswald', sans-serif;	
    text-align: left;
	color: #fff;
	font-weight: 5700;
	font-size: 25px;
	line-height: 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
	
	
}

#features p {

    margin-top: 20px;
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
    color: #fff;
    
}



/*------------------------------------------------------*/



@media only screen and (max-width: 500px) {
    
.wrapper-large	{
	width: 500px;
	margin: 0px ;
    overflow: hidden;
	}

.wrapper-small	{
	width: 500px;
	margin: 0px ;
    overflow: hidden;
	}

#promo	{
	width: 100%;
	height: 400px;
    background-color: #122748;
	background-repeat: no-repeat;
    background-image: url(../images/banner-dark.png);
    background-size: cover;
    overflow: hidden;
}
    

#promo h1	{
	width: 300px;
	margin-bottom:;
    margin-left: 10px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-align: left;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase; 
    padding-top: 100px;
	}
    
#promo .wrapper-large .wrapper-small a h5	{
    visibility: hidden;
	
	}
    
#info	{
	width: 500px;;
	height: 660px;
	background-repeat: no-repeat;
	background-position: center;
    overflow: hidden;
    background-color: #122748;
    text-align: center;
}
    
#info .info-pic{
    visibility: hidden;
    width:0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    
}
    

#info .info-text{
    width: 450px;
    height: 350px;
    text-align: center;
    margin-top: 200px;
    font-weight: 200;
    margin-left: -80px;
    
    
}




#info h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 700;
    padding-right: 10px;
	font-size: 25px;
	line-height: 25px;
	text-transform: uppercase;
    margin-left: 150px;
   
}

#info p {
	font-size: 17px;
    font-family: 'Roboto', serif;
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
    margin-left: 20px;
    
}

    
#features	{
	width: 500px;
	height: auto;
    background: #16335E;
	background-repeat: no-repeat;
	background-position: center;
    overflow: hidden;
    
}

#features .wrapper-large {
	margin: 7px;
    width: 100%;

    
}

#features .feature-1{
    float: left;
    width:100%;
    height: 495px;
    text-align: center;
}

#features .feature-2{
    float: left;
    width:100%;
    height: 495px;
    text-align: center;
}
#features .feature-3{
    float: left;
    width:100%;
    height: 495px;
    text-align: center;
}

.feature-pic-1{
    background-image: url(../images/int-iconl.png);
    height: 215px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 180px;
}

.feature-pic-2{
    background-image: url(../images/aut-iconl.png);
    height: 215px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 180px;
}

.feature-pic-3{
    background-image: url(../images/eco-iconl.png);
    height: 215px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    margin-left: 180px;
}

.feature-text{
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    
}





#features h1 {
	width: 500px;
	font-family: 'Oswald', sans-serif;	
    text-align: left;
	color: #fff;
	font-weight: 5700;
	font-size: 25px;
	line-height: 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
	
	
}

#features p {

    margin-top: 20px;
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;
    color: #fff;
    
}
    

   
}

   
