.header {
    background-color: #292c2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    height: 80px;
    box-sizing: border-box;
}

.header .header-body {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */
.header .header-body h1 {
    float: left;
    font: normal 42px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header .header-body h1 a {
    text-decoration: none;
    color: #ffffff;
}

/* Logo message */
.header .header-body h1 span {
    color: #5383d3;
    font-size: 18px;
}

/* Menus */
.header .header-body nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}

.header .header-body nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
}

.header .header-body nav a:hover {
    opacity: 1;
}

.header .header-body nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .header {
        height: 150px;
    }
    .header .header-body h1, .header .header-body nav {
        float: none;
    }
}
